[mysqld]
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
lc-messages-dir       = /usr/share/mysql
lc-messages           = ja_JP

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
